@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400&display=swap');

/* <--Color scheme--> */
:root {
   --background-color: #141414;
   --text-color: #ddd;
   --link-color: #1F6FEB;
}

@media(prefers-color-scheme: light) {
   :root {
      --background-color: #ddd;
      --text-color: #141414;
      --link-color: #1F6FEB;
   }
}

/* <--Body--> */
body {
   color: var(--text-color);
   background-color: var(--background-color);
   overflow-y: scroll;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
}

span{
   display:inline-block;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
   color: var(--text-color) !important;
   margin: 0;
   padding: 0;
}

a {
   color: var(--text-color);
   text-decoration: underline;
}

a:hover {
   color: var(--link-color);
}

/* <--Header--> */
pre svg {
   width: 14;
   height: 14;
   fill: none;
   stroke: var(--text-color);
   stroke-width: 2;
   stroke-linecap: round;
   stroke-linejoin: round;
}

/* <--Preloader--> */
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--background-color);
   z-index: 600
}

/* <--pre--> */
pre {
   margin:0;
   overflow-x:hidden;
   background-color: var(--background-color);
   color: var(--text-color);
}

.frame {
   display:table;
   margin:16px auto
}

/* <--Nav section--> */
a.nav-item {
	color: var(--text-color);
}

a.nav-item:hover {
   color: var(--link-color);
}

.nav-item svg:hover {
   stroke: var(--link-color);
}


/* <--Adaptive shizzle--> */
@media(max-width:999px) {
   .frame {
      display:block;
      font-size:1.94vw;
   }

   pre svg {
      width: 1.94vw;
      height: 1.94vw;
      fill: none;
      stroke: var(--text-color);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
   }
}

/* <--Center content on mobile devices--> */
.mobile-fix {
   display: table;
   margin:16px auto;
}
