{
   "endOfLine": "lf",
   "trailingComma": "es5",
   "tabWidth": 3,
   "useTabs": false,
   "semi": false,
   "singleQuote": false,
   "htmlWhitespaceSensitivity": "css",
   "jsxBracketSameLine": false,
   "jsxSingleQuote": false,
   "arrowParens": "always"
}
